.product-list-container {
  display: flex;
  margin-top: -30px; /* Ajustez en fonction de la hauteur du header */
  padding: 1rem;
  width: 100%; /* Occuper toute la largeur */
}

.product-list {
  flex-grow: 1;
  margin-left: 50px; /* Espace pour la sidebar */

}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Plusieurs colonnes */
  gap: 2rem; /* Espace entre les produits */
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {

  .product-list-container {
    margin-top: -40px;
    padding: 0; /* Réinitialiser le padding sur les petits écrans */
    padding: 1rem;
    width: auto;
    margin-left: 140px;
    /*left: 0;*/
    right: 0;
  }
  .product-list {
    left: 50px; /* Pas de marge sur les petits écrans */
    padding: 0; /* Supprimer le padding */
    width: 100%; /* Occuper toute la largeur */
  }

  .product-grid {
    grid-template-columns: 1fr; /* Une seule colonne sur les petits écrans */
    gap: 1rem; /* Réduire l'espace entre les produits */
    grid-template-columns: 1fr; /* Une seule colonne */
    gap: 1rem; /* Espace entre les produits */
    padding: 0 1rem; /* Ajouter un padding horizontal si nécessaire */
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #6d28d9; /* Violet */
  background-color: white;
  color: #6d28d9;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
  background-color: #6d28d9;
  color: white;
}

.pagination button:disabled {
  background-color: #e5e7eb; /* Gris clair */
  color: #9ca3af; /* Gris */
  cursor: not-allowed;
  border-color: #e5e7eb;
}

.pagination button.active {
  background-color: #6d28d9;
  color: white;
}